.iconInPages img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 10%;
    margin: 0 auto;
}

.iconInPages p {
    padding-top: 10px;
    font-size: 20px;
}

.iconInPages {
    text-align: center;
}

.home-icon-in-pages {
    color: rgba(255, 255, 255, .5);
    display: block;
    padding-top: 8px;
    padding-left: 8px;
}

.home-icon-in-pages:hover {
    color: white;
}