.iconInPages img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 10%;
    margin: 0 auto;
}

.iconInPages p {
    padding-top: 10px;
    font-size: 20px;
}

.iconInPages {
    text-align: center;
}