@import url("");
@import url("bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("normalize.css");
@import url("reset.css");
@import url("nav.css");
@import url("icon-in-pages.css");
@import url("select-menu.css");
html,
body {
    font-family: "微軟正黑體";
    background: #F0F0F0;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card {
    margin: 0 auto;
}

label {
    font-size: 18px;
    font-weight: 700;
}