    @charset "UTF-8";
    html,
    body {
        height: 100%;
        width: 100%;
    }
    
    .titleStyle {
        font-family: "微軟正黑體" !important;
    }
    
    .image {
        background: url(http://ncdrmmis.azurewebsites.net/image/home_bg.jpg) no-repeat center center;
        background-size: cover;
        height: 100%;
        margin-top: 0px;
        width: 100%;
        /* background: rgba(0, 0, 0, 0.5); */
    }
    
    .heading {
        font-weight: bold;
        color: #191970;
        text-align: center;
        font-size: 50px;
        letter-spacing: 4px;
        position: absolute;
        top: 38%;
        width: 100%;
        margin: 0 auto;
        font-family: Helvetica;
    }
    
    .menuLi {
        width: 800px;
        margin: 0 auto;
    }
    
    .image ul {
        text-align: center;
        padding: 10px 60px;
        position: absolute;
        top: 65%;
        /* background-color: rgba(0, 0, 0, 0.7); */
        /*background-color: rgba(35, 62, 71, 0.9);*/
        background: #536976;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #292E49, #536976);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #292E49, #536976);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .image ul .btn {
        background-color: transparent;
        color: white;
        padding: 10px;
        font-size: 1.2em;
        /* border-radius: 8px; */
        transition: transform 0.4s;
        outline: none;
    }
    
    .image ul .btn:hover {
        color: white;
        -webkit-transform: scale(1.2, 1.2); // This is the enlarged size scale of the image.
    }
    
    .image ul .btn>img {
        width: 50px;
        height: 50px;
        border-radius: 10%;
    }
    
    .image ul li {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .image ul li .iconText {
        color: white;
    }
    
    @media only screen and (min-width: 1300px) {
        .image ul .btn>img {
            width: 80px;
            height: 80px;
            border-radius: 10%;
        }
        .iconText {
            font-size: 20px;
        }
        .menuLi {
            width: 1000px;
            margin: 0 auto;
        }
        .image .heading {
            color: #191970;
            font-weight: bold;
            text-align: center;
            font-size: 56px;
            letter-spacing: 4px;
            position: absolute;
            top: 38%;
            width: 100%;
            margin: 0 auto;
            font-family: Helvetica;
        }
    }
    
    @media screen and (max-width:450px) {
        .heading {
            font-size: 38px;
            top: 28%;
        }
        .image ul {
            top: 60%;
        }
    }