header {
    background: #83a4d4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.show.left {
    width: 100%;
}

.show.right {
    width: 110%;
}

.iconInPages {
    margin-top: 20px;
}

.img-display {
    margin-top: 20px;
}


/* div[class^="col"] {
    border: 1px solid black;
} */

.border-info {
    max-width: 60rem;
}

.card {
    border: none;
    border-radius: 6px;
    /* box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2); */
    /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.35); */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24), 0 6px 12px rgba(0, 0, 0, 0.19);
}