header {
    background: rgb(160, 230, 248);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAECC6, rgb(160, 230, 248));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAECC6, rgb(160, 230, 248));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img-display img {
    max-width: 100%;
}

/* div[class^="col"] {
    border: 1px solid black;
} */

.form-control {
    width: 220px;
}

.select-group {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}