body {
    background: #F0F0F0;
    /* #F0F0F0 */
    color: #414141;
    font-size: 16px;
    overflow-x: hidden;
    -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
    -webkit-font-smoothing: antialiased !important;
}

a {
    text-decoration: none;
    -ms-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

a:hover,
a:focus,
a:active {
    outline: medium none;
    text-decoration: none;
}

*:focus {
    outline: none;
}

strong,
b {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}

.clear {
    border: 0;
    clear: both;
    height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    margin: 0;
    font-family: "微軟正黑體" !important;
}

input,
textarea {
    -webkit-appearance: none;
    border-radius: 0;
}

html,
body {
    height: 100%;
    font-family: "微軟正黑體" !important;
}

/**** NAV ****/

nav.navbar-default {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.05);
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
}

nav.navbar-default.affix {
    background-color: #222;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav.navbar-default .navbar-brand {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
}

nav.navbar-default .navbar-brand:focus,
nav.navbar-default .navbar-brand:hover {
    color: #fff !important;
    background-color: transparent;
}

/* navbar字體顏色 */

nav.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

nav.navbar-default .navbar-nav>li>a:focus,
nav.navbar-default .navbar-nav>li>a:hover {
    color: lightgreen;
    /* #F05F40 */
    background-color: transparent;
}

nav.navbar-default .navbar-nav li a.active,
nav.navbar-default .navbar-nav li a.active:focus,
nav.navbar-default .navbar-nav li a.active:hover {
    color: #F05F40;
    background-color: transparent;
}

/**** NAV END ****/

/**** HEADER ****/

header {
    height: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    margin-top: 50px;
    /* text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.41); */
    text-align: center;
}

h1,
h2,
h3,
h4 {
    font-family: "微軟正黑體" !important;
}

/**** HEADER END ****/

.sdw-div {
    white-space: wrap;
    display: inline;
    margin-left: 40px;
}

.selectMenu {
    position: relative;
    display: inline-block;
    margin: 50px 0 0;
}

/* 
.selectMenu:after {
    content: '▼';
    position: absolute;
    width: 37px;
    color: #999;
    font-weight: bold;
    font-size: 16px;
    right: 2px;
    bottom: 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    pointer-events: none;
    z-index: 2;
}

.selectMenu:before {
    content: '';
    right: 2px;
    top: 2px;
    width: 37px;
    height: 34px;
    background: #242424;
    position: absolute;
    pointer-events: none;
    display: block;
    z-index: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
} */

/* 
select {
    font-size: 22px;
    position: relative;
    width: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #111;
    color: white;
    border: none;
    outline: none;
    padding: 8px 10px;
    margin: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    height: 38px; 
}*/

label[for="sdw"] {
    font-size: 20px;
}

.btn {
    margin-bottom: 5px;
    margin-left: 40px;
}

.imgSection {
    /* width: 100%; */
    height: 800px;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
}

.imgLeft {
    /* width: 100%;
    min-width: 500px; */
    width: 80%;
    min-width: 450px;
    margin: 0;
}

.imgRight {
    width: 80%;
    min-width: 450px;
    margin: 0;
}

.col-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 58px;
}

@media screen and (min-width:800px)and (max-width:1300px) {
    header {
        height: 100px;
    }
}

@media screen and (max-width:799px) {
    header {
        height: 200px;
    }
}

@media screen and (min-width:2000px) {
    header {
        height: 200px;
    }
}

@media screen and (min-width:1301px) {
    header {
        height: 100px;
    }
}

@media screen and (max-width:995px) {
    .imgRight {
        width: 80%;
        min-width: 500px;
        margin-top: 58px;
        /* margin-left: 120px; */
        display: block;
        margin: auto;
    }
}

@media screen and (min-width:1800px) {
    .imgRight,
    .imgLeft {
        width: 80%;
        min-width: 500px;
    }
}