header {
    background: #EFEFBB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #D4D3DD, #EFEFBB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #D4D3DD, #EFEFBB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img-display img {
    max-width: 100%;
}

/* div[class^="col"] {
    border: 1px solid black;
} */

.select-group {
    width: 50%;
    margin: 0 auto;
}