body {
    background: #F0F0F0;
    /* #F0F0F0 */
    color: #414141;
    font-size: 16px;
    overflow-x: hidden;
    -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
    -webkit-font-smoothing: antialiased !important;
}

a {
    text-decoration: none;
    -ms-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

a:hover,
a:focus,
a:active {
    outline: medium none;
    text-decoration: none;
}

*:focus {
    outline: none;
}

strong,
b {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}

.clear {
    border: 0;
    clear: both;
    height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    margin: 0;
    font-family: "微軟正黑體" !important;
}

input,
textarea {
    -webkit-appearance: none;
    border-radius: 0;
}

html,
body {
    height: 100%;
    font-family: "微軟正黑體" !important;
}

/**** NAV ****/

nav.navbar-default {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.05);
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
}

nav.navbar-default.affix {
    background-color: #222;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav.navbar-default .navbar-brand {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
}

nav.navbar-default .navbar-brand:focus,
nav.navbar-default .navbar-brand:hover {
    color: #fff !important;
    background-color: transparent;
}

/* navbar字體顏色 */

nav.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

nav.navbar-default .navbar-nav>li>a:focus,
nav.navbar-default .navbar-nav>li>a:hover {
    color: #EFEFBB;
    /* #F05F40 */
    background-color: transparent;
}

nav.navbar-default .navbar-nav li a.active,
nav.navbar-default .navbar-nav li a.active:focus,
nav.navbar-default .navbar-nav li a.active:hover {
    color: #F05F40;
    background-color: transparent;
}

/**** NAV END ****/

/**** HEADER ****/

header {
    /* height: 200px; */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #EFEFBB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #D4D3DD, #EFEFBB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #D4D3DD, #EFEFBB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,
h2,
h3,
h4 {
    font-family: "微軟正黑體" !important;
}

/**** HEADER END ****/

.sdw-div {
    white-space: wrap;
    display: inline;
    margin-left: 40px;
}

.selectMenu {
    position: relative;
    display: inline-block;
    margin: 50px 0 0;
}

label[for="sdw"] {
    font-size: 20px;
}

.btn {
    margin-bottom: 5px;
    margin-left: 40px;
}

.imgSection {
    height: 800px;
    margin: auto;
    max-width: 1200px;
}

.col-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}

.col-center img {
    min-width: 450px;
    width: 100%;
}

/* @media screen and (min-width:800px)and (max-width:1300px) {
    header {
        height: 180px;
    }
}

@media screen and (max-width:799px) {
    header {
        height: 200px;
    }
} */

/* @media screen and (min-width:2000px) {
    header {
        height: 200px;
    }
}

@media screen and (min-width:1301px) {
    header {
        height: 100px;
    }
} */

@media screen and (max-width:995px) {
    .imgRight {
        width: 80%;
        min-width: 500px;
        margin-top: 58px;
        /* margin-left: 120px; */
        display: block;
        margin: auto;
    }
}

@media screen and (min-width:1800px) {
    .imgRight,
    .imgLeft {
        width: 80%;
        min-width: 500px;
    }
}